<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
<button type="button" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
<button type="button" value="방나가기" class="quit" onclick="quit()">방 나가기 </button>
<div>
    <span>메세지</span>
    <div class="msgArea"></div>
</div>
</body>

<script th:inline="javascript">
    let socket = new WebSocket("ws://localhost:9090/ws/chat");

    socket.onopen = function (e) {
        console.log('open server!')
        enterRoom(socket);
    };

    socket.onclose=function(e){
        console.log('disconnet');
    }

    socket.onerror = function (e){
        console.log(e);
    }

    //메세지 수신했을 때 이벤트.
    socket.onmessage = function (e) {
        console.log(e.data);
        let msgArea = document.querySelector('.msgArea');
        let newMsg = document.createElement('div');
        newMsg.innerText=e.data;
        msgArea.append(newMsg);
    }

    function enterRoom(socket){
        var enterMsg={"type" : "ENTER","chat_room_id":[[${room.chat_room_id}]], "nickname":[[${nickname}]], "msg":""}; //sender는  글쓸때 수정하자.
        socket.send(JSON.stringify(enterMsg));
    }

    // 2024-05-23, 메세지 보내기 버튼 눌렀을 경우 처리
    function sendMsg() {
        let content=document.querySelector('.content').value;
        var talkMsg={"type" : "TALK","chat_room_id":[[${room.chat_room_id}]],"nickname":[[${nickname}]],"msg":content};
        socket.send(JSON.stringify(talkMsg));
    }

    // 2024-05-23, 채팅방 나가기 기능 예정
    function quit(){
        var quitMsg={"type" : "QUIT","chat_room_id":[[${room.chat_room_id}]],"nickname":[[${nickname}]],"msg":""};
        socket.send(JSON.stringify(quitMsg));
        socket.close();
        location.href="/chat/chatList";
    }

</script>

</html>